body {
  background-color: rgb(172 252 232 / 20%)
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(125 209 198);
  text-decoration: underline;
  margin-top: 50px;
  font-size: 30px;
}

body {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

p {
  padding: 10px;
}

form {
  padding: 20px;
  font-size: 25px;
}

html {
  border-style: dashed;
  border-width: 10px;
  border-color: rgb(94 173 163 / 80%)
}
