body {
  background-color: rgb(47 163 150 / 20%)
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(47 163 150);
  text-decoration: underline;
  margin-top: 50px;
}

nav {
  background-color: rgb(47 163 150 / 70%);
  border: solid 3px;
  border-color: rgb(47 163 150 / 20%);
  align-content: space-evenly;
  text-align: center;
  width: 90%;
  align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.navbar {
  display: inline;
  align: center;
  padding: 5px;
  border: solid 1px;
  border-color: white;
  background-color: white;
}

.cp {
  background-color: rgb(47 163 150 / 20%);
  display: inline;
  border: solid 1px;
  border-color: rgb(47 163 150 / 70%);
  padding: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 30px;
}

#hpintro {
  width: 50%;
  text-align: center;
  align: center;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  text-align: center;
}

img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.linka {
  text-decoration: underline;
  color: blue;
}
